[submodule "deps/liboqs"]
	path = deps/liboqs
	url = https://github.com/open-quantum-safe/liboqs.git
	branch = main
[submodule "deps/liboqs-cpp"]
	path = deps/liboqs-cpp
	url = https://github.com/open-quantum-safe/liboqs-cpp.git
	branch = main
