image:
# - Visual Studio 2019 - Can't get Windows build to work yet
- ubuntu2004

build: off

environment:
  matrix:
    - nodejs_version: 12
      platform: x64
    - nodejs_version: 13
      platform: x64
    - nodejs_version: 14
      platform: x64
    - nodejs_version: 15
      platform: x64

install:
  # - cmd: set OPENSSL_ROOT_DIR="C:\OpenSSL-v111-Win64\lib\"
  # - cmd: cd %APPVEYOR_BUILD_FOLDER% && git submodule update --init --recursive
  - sh: cd "$APPVEYOR_BUILD_FOLDER" && git submodule update --init --recursive
  - sh: sudo apt-get update && sudo apt-get install -y cmake gcc ninja-build libssl-dev python3-pytest python3-pytest-xdist unzip xsltproc doxygen graphviz libssl-dev gcc-10 g++-10
  - sh: sudo update-alternatives --set gcc /usr/bin/gcc-10 && sudo update-alternatives --set g++ /usr/bin/g++-10
  - sh: gcc --version
  - npm ci
  - npm run build

artifacts:
  - path: build/stage/*/*

deploy:
  release: build-$(APPVEYOR_BUILD_VERSION)
  provider: GitHub
  auth_token:
    secure: b3cWFxhvVOhKJNSTbKjFwhUzimbeQMqjb/eUlJLGMdaeZrBaqPI0A8H/J8Mmrre2
  artifact: build/stage/*/*
  draft: true
  prerelease: false
  on:
    branch: master
    APPVEYOR_REPO_TAG: true
